#title_container {
  border-bottom: 2px solid darkgrey;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

#title {
  margin: 0;
  margin-bottom: 5px;
}

#subtitle {
  font-size: 10px;
}

#city_name_header, #result_header {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

#sidebar {
  box-sizing: border-box;
  border-left: 2px solid darkgray;
  width: 300px;
  height: 100%;
  background-color: ghostwhite;
  float: right;
  overflow-y: scroll;
  overflow-x: hidden;
  user-select: none;
  word-wrap: break-word;
}

#city_name_container {
  padding-right: 10px;
  padding-left: 10px
}

#city_name {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 50px;
  margin-bottom: 10px;
}

#app {
  width: 100%;
  overflow: hidden;
  display: none;
}

#result_container {
  display: none;
  margin-top: 5px;
  border-top: 2px solid darkgray;
  padding-right: 10px;
  padding-left: 10px
}

#distance {
  display: block;
  /*user-select: text;*/
  width: 100%;
  text-align: center;
  font-size: 35px;
}

#message {
  margin-top: 5px;
  display: block;
  width: 100%;
  text-align: center;
}

#next {
  width: 100%;
  height: 50px;
  margin-top: 10px;
}
